/*----------- fonts --------------*/
/*todo: use local fonts only in development. Delete this block in production*/
@font-face {
    font-family: "Open Sans Condensed";
    src: url('/static/fonts/OpenSans-CondBold.ttf');
}

@font-face {
    font-family: "PT Sans";
    src: url('/static/fonts/PT_Sans-Web-Regular.ttf');
}

@font-face {
    font-family: "PT Sans";
    src: url('/static/fonts/PT_Sans-Web-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: "PT Sans";
    src: url('/static/fonts/PT_Sans-Web-Italic.ttf');
    font-style: italic;
}

@font-face {
    font-family: "Open Sans";
    src: url('/static/fonts/OpenSans-Regular.ttf');
}

@font-face {
    font-family: "Open Sans";
    src: url('/static/fonts/OpenSans-Light.ttf');
    font-weight: 300;
}

/*@font-face {*/
/*font-family: "MyriadPro";*/
/*src: url('/static/fonts/MyriadPro-Regular.otf');*/
/*}*/

/*---- base template ----*/
div { /* todo: dbg*/
    /*border: solid yellow 1px;*/
}

html,
body {
    font-family: 'PT Sans', sans-serif;
    /*font-family: 'Open Sans', sans-serif;*/
    font-size: 20px;
    line-height: 24px;
    color: #414141;
    max-width: 1300px;
}

.container {
    width: 980px;
    padding-left: 15px;
    padding-right: 15px;
}

h1, h2, h3, h4, h5 {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #414141;
}

h1 {
    font-size: 52px;
}

h2 {
    font-size: 46px;
    text-align: center;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

/*.content-wrapper {*/
/*min-height: 100vh;*/
/*position: relative;*/
/*}*/

main {
    /*position: relative; !* for absolute positioned childrens *!*/
    /*min-height: calc(100vh - 185px);*/
    /*min-height: 100vh;*/
    /*height: 100%;*/
    /*height: calc(100vh - 200px);*/
    /*padding-bottom: 190px;*/
    /*min-height: 740px;*/
}

/*---- base template: main menu -------*/
.menu-container {
    background-color: #414141;
}

.main-menu {
    width: 100%;
    margin: 0;
    height: 60px;
}

.main-menu > li {
    text-align: center;
    width: 20%;
    height: 100%;
}

.main-menu span {
    display: inline-block;
    height: 40px;
}

.main-menu > li > a {
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 28px;
    height: 100%;
    padding: 20px 0;
}

.main-menu > li > a:hover {
    background-color: #414141;
    color: #74b336;
}

.main-menu > li.active span {
    border-bottom: 3px solid #74b336;
}

.main-menu li:nth-of-type(1) {
    text-align: left;
}

.main-menu li:nth-of-type(5) {
    text-align: right;
}

.main-menu li:nth-of-type(2) {
    padding-right: 20px;
}

.main-menu li:nth-of-type(4) {
    padding-left: 14px;
}

/* ---------- base template: header-language switcher ---------*/

.lang_form {
    margin-right: 15px;
}

.lang_form button {
    background-color: #414141;
    color: #74b336;
    border: 0;
    font-family: 'Open Sans Condensed', sans-serif;
    width: 54px;
    padding-bottom: 2px;
    padding-top: 2px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: 10px;
}

.lang_form button.active {
    color: white;
    background-color: #74b336;
}

.lang_form button:hover {
    color: white;
}

/*----- base template: company logo ------*/
.header-logo img {
    float: left;
    margin-right: 18px;
}

.header-logo {
    margin: -15px 0 20px 0;
}

header a:hover {
    text-decoration: none;
}

.header-logo div:nth-of-type(1) {
    font-size: 32px;
}

/*---- base template: search form ----------*/
.search_form {
    text-align: right;
    margin-top: 30px;
}

.search_form input {
    height: 36px;
    border-radius: 20px;
    border: 0;
}

.search_form input[type="text"] {
    background-color: #e5e5e5;
    padding-left: 15px;
    width: 300px;
    margin-right: 10px;
}

.search_form input[type="submit"] {
    border: 0;
    background-color: #414141;
    color: #74b336;
    font-family: 'Open Sans Condensed', sans-serif;
    width: 140px;
}

.search_form input[type="submit"]:hover {
    color: white;
    background-color: #74b336;
}

/*------ base template: footer -----*/
footer {
    background-color: #414141;
    color: white;
    padding: 40px 0;
}

footer h3 {
    color: white;
    margin-top: 0;
}

footer .contacts {
    padding: 0;
}

footer .contacts div:nth-of-type(2) {
    text-indent: 100px;
}

footer img {
    margin-bottom: 11px;
}

footer a {
    color: #74b336;
    text-decoration: underline;
}

footer .studio-logo {
    text-align: right;
    padding-top: 30px;
}

/*-------- main page: carousel ---------*/
.carousel-bkg {
    background-color: #e5e5e5;
    height: 410px;
    margin-bottom: 14px;
}

.carousel-bkg .container {
    height: 100%;
}

.carousel {
    height: 100%;
}

.carousel img {
    border: solid 20px white;
    border-radius: 10px;
    margin-right: 50px;
}

div.carousel {
    padding-top: 40px;
}

.carousel a.btn {
    background-color: #414141;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #74b336;
    font-size: 18px;
    width: 140px;
    border-radius: 20px;
    margin-top: 24px;
    margin-left: 60px;
}

.carousel a:hover {
    color: white;
        background-color: #74b336;
}

.carousel-indicators {
    bottom: 0;
}

.carousel-indicators li {
    background-color: white;
    margin: 8px;
}

.carousel-indicators li.active {
    background-color: #74b336;
    color: #74b336;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    margin: 2px;
    border: none;
}

/* --------- main page: product catalog -------- */

.main-catalog h2 {
    margin-bottom: 30px;
}

.main-catalog-item-img {
    height: 150px;
    box-shadow: inset 0 0 50px rgba(0, 0, 0, .5);
}

.main-catalog-item a {
    text-decoration: none;
    color: #414141;
}

.main-catalog-item a:hover .main-catalog-item-container {
    color: white;
    background-color: #74b336;
}

.main-catalog-item a:hover .main-catalog-item-img {
    -webkit-filter: grayscale(100%) opacity(60%) contrast(200%);
    filter: grayscale(100%) opacity(60%) contrast(200%);
}

.main-catalog-item-container {
    background-color: #e5e5e5;
    width: 300px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    margin: 0 auto 40px;
    padding-bottom: 5px;
}

.main-catalog-item-container h4 {
    padding-top: 5px;
}

.main-catalog-item a:hover h4 {
    color: white;
}

/* --------- main page: about us -----------*/
.about-us {
    background-image: url("/static/img/about-us-bkg-2.jpg");
    background-color: #414141;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% auto;
    color: white;
    height: 420px;
    text-align: center;
    margin-top: 14px;
}

.about-us h2 {
    color: white;
    margin: 40px auto 30px;
}

/* ------------- main page: articles ---------------*/
.main-article h2 {
    margin: 40px auto 30px;
}

.main-article-item {
    background-color: #e5e5e5;
    width: 300px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
}

.main-article-item-wrapper {
    padding: 0 16px 16px;
}

.main-article-item-content {
    min-height: 240px;
}

.main-article a {
    background-color: #414141;
    color: #74b336;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 18px;
    border-radius: 20px;
    width: 240px;
    margin-bottom: 60px;
    margin-top: 40px;
}

.main-article a:hover {
    color: white;
        background-color: #74b336;
}

.main-article-item a {
    width: 140px;
    margin: 26px auto;
}

.main-article-item .article-date {
    font-family: 'Open Sans Condensed', sans-serif;
}

/*------- breadcrumbs---------*/
.breadcrumbs a {
    color: #74b336;
    text-decoration: underline;
}

.breadcrumbs span {
    font-size: 13px;
    margin: 0 5px;
}

.breadcrumbs {
    padding: 8px 0;
}

.breadcrumbs span:last-of-type {
    font-weight: bolder;
}

/*------- top-level catalog page --------*/

.catalog-top-container h2 {
    margin: 30px auto;
}

.catalog-top-container {
    margin-bottom: 30px;
}


/*-------- category, articles, contacts: side background div, expanded to screen edge */
.aside-bkg {
    background-color: #e5e5e5;
    position: absolute;
    height: 40px;
}

/*------- catalog category page: left menu ----------*/

.catalog-container .aside-bkg {
    width: 20%
}

.catalog-aside {
    background-color: #e5e5e5;
    text-align: right;
    text-transform: uppercase;
    color: #414141;
    padding-left: 0;
}

.catalog-aside > ul {
    list-style-type: none;
    margin-top: 30px;
    padding-left: 0;
}

.catalog-aside li {
    padding: 1px 4px;
}

.catalog-aside a {
    text-decoration: none;
}

.catalog-aside a.active h4 {
    color: #74b336;
}

/*------- catalog category page: main content ------- */
.catalog-category h2 {
    margin-top: 60px;
    margin-bottom: 30px;
    text-align: left;
}

.catalog-category .panel {
    background-color: #e5e5e5;
    border-radius: 10px;
}


.catalog-category .panel a {
    color: #414141;
    text-decoration: none;
}

.catalog-category .panel-heading h3.active span:last-of-type {
    color: #74b336;
}


.catalog-category .panel-heading h3 {
    font-size: 24px; /* bootstrap overrides global settings for panel headers */
    margin: 5px 4px;
}

.catalog-category .list-group-item {
    background-color: #e5e5e5;
}

.catalog-category .list-group-item a.btn {
        background-color: #414141;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #74b336;
    font-size: 18px;
    width: 140px;
    border-radius: 20px;
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.catalog-category .list-group-item h3 {
    margin-left: 10px;
    margin-top: 30px;
}

.catalog-category .list-group-item a.btn:hover {
    color: white;
    background-color: #74b336;
}

.catalog-category .list-group-item a:hover h3 {
    color: #74b336;
}

.catalog-category .panel-group:last-of-type {
    margin-bottom: 60px;
}
