/*----------- fonts --------------*/
/*todo: use local fonts only in development. Delete this block in production*/
@font-face {
    font-family: "Open Sans Condensed";
    src: url('/static/fonts/OpenSans-CondBold.ttf');
}

@font-face {
    font-family: "PT Sans";
    src: url('/static/fonts/PT_Sans-Web-Regular.ttf');
}

@font-face {
    font-family: "PT Sans";
    src: url('/static/fonts/PT_Sans-Web-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: "PT Sans";
    src: url('/static/fonts/PT_Sans-Web-Italic.ttf');
    font-style: italic;
}

@font-face {
    font-family: "Open Sans";
    src: url('/static/fonts/OpenSans-Regular.ttf');
}

@font-face {
    font-family: "Open Sans";
    src: url('/static/fonts/OpenSans-Light.ttf');
    font-weight: 300;
}

/*@font-face {*/
/*font-family: "MyriadPro";*/
/*src: url('/static/fonts/MyriadPro-Regular.otf');*/
/*}*/

/*---- base template ----*/
div { /* todo: dbg*/
    /*border: solid yellow 1px;*/
}

html,
body {
    font-family: 'PT Sans', sans-serif;
    /*font-family: 'Open Sans', sans-serif;*/
    font-size: 20px;
    line-height: 24px;
    color: #414141;
    max-width: 1300px;
}

.container {
    width: 980px;
    padding-left: 15px;
    padding-right: 15px;
}

h1, h2, h3, h4, h5 {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #414141;
}

h1 {
    font-size: 52px;
}

h2 {
    font-size: 46px;
    text-align: center;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

main {
    position: relative; /* for absolute positioned childrens */
}

/*---- base template: main menu -------*/
.menu-container {
    background-color: #414141;
}

.main-menu {
    width: 100%;
    margin: 0;
    height: 60px;
}

.main-menu > li {
    text-align: center;
    width: 20%;
    height: 100%;
}

.main-menu span {
    display: inline-block;
    height: 40px;
}

.main-menu > li > a {
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 28px;
    height: 100%;
    padding: 20px 0;
}

.main-menu > li > a:hover {
    background-color: #414141;
    color: #74b336;
}

.main-menu > li.active span {
    border-bottom: 3px solid #74b336;
}

.main-menu li:nth-of-type(1) {
    text-align: left;
}

.main-menu li:nth-of-type(5) {
    text-align: right;
}

.main-menu li:nth-of-type(2) {
    padding-right: 20px;
}

.main-menu li:nth-of-type(4) {
    padding-left: 14px;
}

/* ---------- base template: header-language switcher ---------*/

.lang_form {
    margin-right: 15px;
}

.lang_form button {
    background-color: #414141;
    color: #74b336;
    border: 0;
    font-family: 'Open Sans Condensed', sans-serif;
    width: 54px;
    padding-bottom: 2px;
    padding-top: 2px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: 10px;
}

.lang_form button.active {
    color: white;
    background-color: #74b336;
}

.lang_form button:hover {
    color: white;
}

/*----- base template: company logo ------*/
.header-logo img {
    float: left;
    margin-right: 18px;
}

.header-logo {
    margin: -15px 0 20px 0;
}

header a:hover {
    text-decoration: none;
}

.header-logo div:nth-of-type(1) {
    font-size: 32px;
}

/*---- base template: search form ----------*/
.search_form {
    text-align: right;
    margin-top: 30px;
}

.search_form input {
    height: 36px;
    border-radius: 20px;
    border: 0;
}

.search_form input[type="text"] {
    background-color: #e5e5e5;
    padding-left: 15px;
    width: 300px;
    margin-right: 10px;
}

.search_form input[type="submit"] {
    border: 0;
    background-color: #414141;
    color: #74b336;
    font-family: 'Open Sans Condensed', sans-serif;
    width: 140px;
}

.search_form input[type="submit"]:hover {
    color: white;
    background-color: #74b336;
}

/*------ base template: footer -----*/
footer {
    background-color: #414141;
    color: white;
    padding: 40px 0;
}

footer h3 {
    color: white;
    margin-top: 0;
}

footer .contacts {
    padding: 0;
}

footer .contacts div:nth-of-type(2) {
    text-indent: 100px;
}

footer img {
    margin-bottom: 11px;
}

footer a {
    color: #74b336;
    text-decoration: underline;
}

footer .studio-logo {
    text-align: right;
    padding-top: 30px;
}

/*-------- main page: carousel ---------*/
.carousel-bkg {
    background-color: #e5e5e5;
    height: 410px;
    margin-bottom: 14px;
}

.carousel-bkg .container {
    height: 100%;
}

.carousel {
    height: 100%;
}

.carousel img {
    border: solid 20px white;
    border-radius: 10px;
    margin-right: 50px;
}

div.carousel {
    padding-top: 40px;
}

.carousel a.btn {
    background-color: #414141;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #74b336;
    font-size: 18px;
    width: 140px;
    border-radius: 20px;
    margin-top: 24px;
    margin-left: 60px;
}

.carousel a:hover {
    color: white;
    background-color: #74b336;
}

.carousel-indicators {
    bottom: 0;
}

.carousel-indicators li {
    background-color: white;
    margin: 8px;
}

.carousel-indicators li.active {
    background-color: #74b336;
    color: #74b336;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    margin: 2px;
    border: none;
}

/* --------- main page: product catalog -------- */

.main-catalog h2 {
    margin-bottom: 30px;
}

.main-catalog-item-img {
    height: 150px;
    box-shadow: inset 0 0 50px rgba(0, 0, 0, .5);
}

.main-catalog-item a {
    text-decoration: none;
    color: #414141;
}

.main-catalog-item a:hover .main-catalog-item-container {
    color: white;
    background-color: #74b336;
}

.main-catalog-item a:hover .main-catalog-item-img {
    -webkit-filter: grayscale(100%) opacity(60%) contrast(200%);
    filter: grayscale(100%) opacity(60%) contrast(200%);
}

.main-catalog-item-container {
    background-color: #e5e5e5;
    width: 300px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    margin: 0 auto 40px;
    padding-bottom: 5px;
}

.main-catalog-item-container h4 {
    padding-top: 5px;
}

.main-catalog-item a:hover h4 {
    color: white;
}

/* --------- main page: about us -----------*/
.about-us {
    background-image: url("/static/img/about-us-bkg-2.jpg");
    background-color: #414141;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% auto;
    color: white;
    height: 420px;
    text-align: center;
    margin-top: 14px;
}

.about-us h2 {
    color: white;
    margin: 40px auto 30px;
}

/* ------------- main page: articles ---------------*/
.main-article h2 {
    margin: 40px auto 30px;
}

.main-article-item {
    background-color: #e5e5e5;
    width: 300px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
}

.main-article-item-wrapper {
    padding: 0 16px 16px;
}

.main-article-item-content {
    min-height: 240px;
}

.main-article a {
    background-color: #414141;
    color: #74b336;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 18px;
    border-radius: 20px;
    width: 240px;
    margin-bottom: 60px;
    margin-top: 40px;
}

.main-article a:hover {
    color: white;
    background-color: #74b336;
}

.main-article-item a {
    width: 140px;
    margin: 26px auto;
}

.main-article-item .article-date {
    font-family: 'Open Sans Condensed', sans-serif;
}

/*------- breadcrumbs---------*/
.breadcrumbs a {
    color: #74b336;
    text-decoration: underline;
}

.breadcrumbs span {
    font-size: 13px;
    margin: 0 5px;
}

.breadcrumbs {
    padding: 8px 0;
}

.breadcrumbs span:last-of-type {
    font-weight: bolder;
}

/*------- top-level catalog page --------*/

.catalog-top-container h2 {
    margin: 30px auto;
}

.catalog-top-container {
    margin-bottom: 30px;
}

/*-------- category, articles, contacts: side background div, expanded to screen edge */
.aside-bkg {
    background-color: #e5e5e5;
    position: absolute;
    height: 40px;
}

/*------- catalog category page: left menu ----------*/

.catalog-container .aside-bkg {
    width: 20%
}

.catalog-aside {
    background-color: #e5e5e5;
    text-align: right;
    text-transform: uppercase;
    color: #414141;
    padding-left: 0;
}

.catalog-aside > ul {
    list-style-type: none;
    margin-top: 30px;
    padding-left: 0;
}

.catalog-aside li {
    padding: 1px 4px;
}

.catalog-aside a {
    text-decoration: none;
}

.catalog-aside a.active h4 {
    color: #74b336;
}

/*------- catalog category page: main content ------- */
.catalog-category h2 {
    margin-top: 60px;
    margin-bottom: 30px;
    text-align: left;
}

.catalog-category .panel {
    background-color: #e5e5e5;
    border-radius: 10px;
}

.catalog-category .panel a {
    color: #414141;
    text-decoration: none;
}

.catalog-category .panel-heading h3.active span:last-of-type {
    color: #74b336;
}

.catalog-category .panel-heading h3 {
    font-size: 24px; /* bootstrap overrides global settings for panel headers */
    margin: 5px 4px;
}

.catalog-category .list-group-item {
    background-color: #e5e5e5;
}

.catalog-category .list-group-item a.btn {
    background-color: #414141;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #74b336;
    font-size: 18px;
    width: 140px;
    border-radius: 20px;
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.catalog-category .list-group-item h3 {
    margin-left: 10px;
    margin-top: 30px;
}

.catalog-category .list-group-item a.btn:hover {
    color: white;
    background-color: #74b336;
}

.catalog-category .list-group-item a:hover h3 {
    color: #74b336;
}

.catalog-category .panel-group:last-of-type {
    margin-bottom: 60px;
}

/*------- article list page------- */
.article-tags-panel {
    background-color: #e5e5e5;
}

.article-list .aside-bkg {
    width: 15%;
    right: 0;
}

.article-tags-panel ul {
    list-style-type: none;
    padding-left: 5px;
    margin-top: 80px;
    text-decoration: underline;
    font-size: 16px;
    line-height: 28px;
}

.article-tags-panel a {
    color: #414141;
}

.article-tags-panel a:hover {
    color: #74b336;
}

.article-list .media {
    margin-bottom: 20px;
}

.article-list .breadcrumbs {
    padding-right: 10px;
}

.article-list h2 {
    text-align: left;
    margin-top: 30px;
    margin-bottom: 16px;
}

.article-list time h4 {
    margin-bottom: 5px;
}

.article-list h3.media-heading {
    margin-top: -4px;
    margin-bottom: 10px;
}

.article-list .media a {
    text-decoration: none;
    color: #414141;
}

.article-list .media a:hover .article-cut {
    text-decoration: underline;
}

.article-list a:hover h3 {
    color: #74b336;
}

.article-list .pagination-container {
    text-align: center;
    margin-bottom: 40px;
}

#articles-paginator-chevron-left {
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

#articles-paginator-chevron-right {
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}

.article-list .pagination > li > a,
.article-list .pagination > li > span {
    background-color: #414141;
    color: #74b336;
    padding-top: 3px;
    padding-bottom: 3px;
    border: none;
}

.article-list .pagination > li > a {
    font-family: 'Open Sans Condensed', sans-serif;
}

.article-list .pagination > li.active > a {
    background-color: #74b336;
    color: white;
}

.article-list .pagination > li.disabled > span {
    color: darkgray;
}

.article-list .pagination > li.disabled:hover > span {
    background-color: #414141;
}

.article-list .filter-msg {
    font-size: 16px;
}

/*------- article details page -----------*/
.article-details .aside-bkg {
    width: 15%;
    right: 0;
}

.article-details .breadcrumbs {
    padding-right: 10px;
}

.article-details h2 {
    text-align: left;
    margin-top: 30px;
    margin-bottom: 30px;
}

.article-details .article-top-image {
    float: left;
    margin: 0 20px 18px 0;
}

.article-details time h4 {
    margin-bottom: 30px;
}

.article-details .article-content {
    margin-bottom: 30px;
}

.article-details .article-source a {
    color: #74b336;
    text-decoration: underline;
}

.article-details .article-source {
    margin-bottom: 5px;
}

.article-details .article-tags li {
    font-size: 16px;
    padding: 0;
}

.article-details .article-tags a {
    text-decoration: underline;
    color: #74b336;
}

.article-details .article-more-btn {
    background-color: #414141;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #74b336;
    font-size: 18px;
    width: 240px;
    border-radius: 20px;
    margin-top: 40px;
    margin-bottom: 60px;
}

/*-------- partners page -----------*/
.partners-list .breadcrumbs {
    margin-right: -5px;
}

.partners-list h2 {
    margin: 40px auto 30px;
}

.partners-list .partner-item {
    border-top: solid #e5e5e5 1px;
    border-bottom: solid #e5e5e5 1px;
    margin-bottom: 30px;
    padding: 5px;
}

.partners-list h4.media-heading {
    margin-bottom: 10px;
}

.partners-list .logo-wrapper {
    border: solid 1px #414141;
    height: 102px;
    width: 202px;
    position: relative;
    margin-right: 8px;
}

.partners-list img {
    margin: auto;
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.partners-list {
    padding-bottom: 40px;
}

/*--------- contacts page: contacts block ----------*/

.contacts-page .aside-bkg {
    width: 20%;
    left: 0;
}

.contacts-page .contacts {
    background-color: #e5e5e5;
}

.contacts-page .breadcrumbs {
    margin-right: -5px;
}

.contacts-page .contacts h2 {
    margin-top: 86px;
    margin-bottom: 30px;
}

.contacts-page .contacts h3 {
    margin-top: 40px;
    margin-bottom: 30px;
}

.contacts-page .vcard .tel:nth-of-type(1),
.contacts-page .vcard .tel:nth-of-type(2) {
    text-indent: 48px;
}

.contacts-page .vcard .local-emails {
    margin-top: 20px;
}

.contacts-page .vcard .email a {
    color: #414141;
    text-decoration: underline;
}

.contacts-page .vcard .email a:hover {
    color: #74b336;
}

.contacts-page .vcard .local-emails .email:last-of-type {
    text-indent: 66px;
}

.contacts-page .vcard {
    padding-bottom: 60px;
}

/*-------- contacts page: request form -----------*/

.request-form li {
    /*border: solid 1px yellow; !*todo: dbg*!*/
    position: relative;
}

.contacts-page .request-form ul {
    padding: 0;
}

.contacts-page .request-form h2 {
    margin-top: 70px;
    margin-bottom: 5px;
}

.contacts-page .cart-item-remove-btn {
    position: absolute;
    right: 0;
    top: 44px;
    cursor: pointer;
}

.contacts-page .cart-item-remove-btn:hover {
    color: #74b336;
}

.contacts-page .basket-list a:hover h3 {
    color: #74b336;
    text-decoration: none;
}

.contacts-page .basket-list a:hover {
    text-decoration: none;
}

.contacts-page .request-form form h3 {
    font-size: 30px;
    margin-top: 70px;
}

.contacts-page .request-form form {
    list-style-type: none;
    padding-bottom: 60px;
}

.contacts-page .request-form form label {
    font-size: 16px;
    font-weight: 400;
    display: block;
    /*margin: 8px auto 0 10px;*/
    margin-left: 15px;
    margin-bottom: 0;
}

.contacts-page .request-form form input,
.contacts-page .request-form form textarea {
    background-color: #e5e5e5;
    border-radius: 20px;
    border: none;
    padding: 7px 15px;
    margin-bottom: 10px;
    width: 100%;
}

.contacts-page .request-form-desc {
    font-size: 16px;
}

.contacts-page .request-form input[type='submit'] {
    background-color: #414141;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #74b336;
    font-size: 18px;
    width: 150px;
    border-radius: 20px;
    margin-top: 40px;
    margin-bottom: 15px;
}

.contacts-page .request-form input[type='submit']:hover {
    background-color: #74b336;
    color: white;
}

.contacts-page .request-form ul.errorlist {
    list-style-type: none;
    color: red;
    margin: 0 0 0 15px;
    font-size: 16px;
}

.contacts-page .request-form label[for="id_captcha_0"] {
    display: none;
}

.contacts-page .request-form .captcha-question:before {
    content: "Контрольный код:";
    display: block;
    font-size: 16px;
    margin-left: 15px;
}

.contacts-page #id_captcha_0 {
    width: 120px;
    margin-left: 15px;
}

.contacts-page .request-form .cart-empty-msg {
    text-align: center;
    font-size: 16px;
    margin-top: 40px;
}

/*------- product page ----------*/
.product-container .lSSlideWrapper {
    margin-bottom: 1px;
}

.product-container .breadcrumbs {
    margin-right: -5px;
    margin-bottom: 40px;
}

.product-container h2 {
    margin-top: 0;
    margin-bottom: 40px;
    text-align: left;
}

.product-container .manufacturer-block {
    margin-bottom: 40px;
}

.product-container a {
    text-decoration: underline;
    color: #74b336;
}

.product-container .doc-files {
    list-style-type: none;
    padding: 0;
    margin-left: 20px;
}

.product-container .product-ask-btn {
    background-color: #414141;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #74b336;
    font-size: 18px;
    width: 240px;
    border-radius: 20px;
    margin: 15px 10px 50px auto;
}

.product-container .product-ask-btn:hover {
    background-color: #74b336;
    color: white;
}

.product-container .tabs-container {
    margin-bottom: 50px;
}

.product-container .tab-content {
    padding: 25px 15px;
    background-color: #e5e5e5;
}

/**/
.product-container .nav-tabs.nav-justified {
    border-collapse: separate;
    border-spacing: 10px 0;
}

.product-container .nav-tabs > li > a {
    font-family: 'Open Sans Condensed', sans-serif;
    text-decoration: none;
}

.product-container .nav-tabs > li {
    background-color: #414141;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.product-container .nav-tabs > li.active > a,
.product-container .nav-tabs > li.active > a:focus,
.product-container .nav-tabs > li.active > a:hover {
    background-color: #e5e5e5;
    color: #414141;
    border-top-right-radius: 9px;
    border-top-left-radius: 9px;
    border-bottom-color: #e5e5e5;
}

.product-container .nav-tabs > li > a {
    color: #74b336;
}

.product-container .tab-content {
    margin-right: 10px;
    margin-left: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}