<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>403 ERROR</title>
    <style>
        body {
            background-color: #e5e5e5;
            color: #414141;
        }

        div.err {
            text-align: center;
            margin-top: 200px;
        }

        h1 {
            font-size: 80px;
        }
    </style>
</head>
<body>
<div class="err">
    <h1>403</h1>
    <h2>у вас нет прав для просмотра этой страницы</h2>
    <div>
        <a href="/">на главную</a>
    </div>
</div>
</body>
</html>