{% extends "base.html" %}
{% load staticfiles %}

{% block title %}{{ block.super }} | статьи{% endblock %}

{% block lang %}
    <link rel="alternate" hreflang="ru" href="http://vivariy.com/articles/"/>
{% endblock %}

{% block content %}
    <div class="container article-list">

        <div class="aside-bkg"></div>

        <div class="row">
            <section class="col-lg-10 col-md-10 col-sm-12 col-xs-12 article-content-panel">

                <div class="row breadcrumbs"><!-- breadcrumbs -->
                    <div class="pull-right">
                        <span><a href="/">Главная</a></span> |
                        <span>Статьи</span>
                    </div>
                </div><!-- end breadcrumbs -->

                {% if articles %}
                    {% if current_tag %}
                        <h2>СТАТЬИ ПО ТЕГУ "{{ current_tag }}"</h2>
                        <a class="filter-msg" href="/articles/">[очистить фильтр]</a>
                    {% else %}
                        <h2>СТАТЬИ</h2>
                    {% endif %}

                    {% for article in articles %}
                        <div class="media">
                            <time class="article-date"
                                  datetime="{{ article.date | date:'c' }}">
                                <span class="h4">{{ article.date | date:"j E Y" | upper }}</span></time>
                            <a href="{% url 'article_details' article.slug %}">
                                <div class="media-left media-top">
                                    <img src="{{ article.image.image.crop.300x150 }}" alt="article image"
                                         class="media-object">
                                </div>
                                <div class="media-body">
                                    <h3 class="media-heading">{{ article.title_ru | upper }}</h3>
                                    <p class="article-cut">{{ article.cut_ru | truncatewords:23 }}</p>

                                </div>
                            </a>
                        </div>
                    {% endfor %}
                {% else %}
                    <h2 style="color: red">статей не найдено</h2>
                    <p style="text-align: center">(задаются через админку)</p>
                {% endif %}


                {% if articles.paginator.num_pages > 1 %}
                    <nav class="pagination-container"><!-- paginagion -->
                        <ul class="pagination">
                            {% if articles.has_previous %}
                                <li>
                                    <a href="{{ current_url }}page={{ articles.previous_page_number }}"
                                       id="articles-paginator-chevron-left">
                                        <span class="glyphicon glyphicon-chevron-left"></span>
                                    </a>
                                </li>
                            {% else %}
                                <li class="disabled">
                                    <span id="articles-paginator-chevron-left"
                                          class="glyphicon-chevron-left glyphicon"></span>
                                </li>
                            {% endif %}

                            {% for page in articles.paginator.shortened_page_range %}
                                {% if page == '...' %}
                                    <li class="disabled">
                                        <a href="#"><span aria-hidden="true">...</span></a>
                                    </li>
                                {% else %}
                                    <li {% if page == articles.number %}class="active" {% endif %}>
                                        {{ paginator.page.number }}
                                        <a href="{{ current_url }}page={{ page }}">{{ page }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}

                            {% if articles.has_next %}
                                <li>
                                    <a href="{{ current_url }}page={{ articles.next_page_number }}"
                                       id="articles-paginator-chevron-right">
                                        <span class="glyphicon glyphicon-chevron-right"></span>
                                    </a>
                                </li>
                            {% else %}
                                <li class="disabled">
                                    <span id="articles-paginator-chevron-right"
                                          class="glyphicon-chevron-right glyphicon"></span>
                                </li>
                            {% endif %}
                        </ul>
                    </nav><!-- end pagination -->
                {% endif %}

            </section>

            <aside class="col-lg-2 col-md-2 col-sm-12 col-xs-12 article-tags-panel">
                <form action="/subscribe/" method="post" class="subscribe-form">{% csrf_token %}
                    <h5>ПОЛУЧАТЬ<br> НОВЫЕ СТАТЬИ</h5>
                    <input type="text" name="email" placeholder="Ваш e-mail">
                    <button type="submit">ПОДПИСАТЬСЯ</button>
                </form>
                <div>
                    <h5>КЛЮЧЕВЫЕ СЛОВА</h5>
                    <ul>
                        {% for tag in tags %}
                            <li><a href="/articles?filter={{ tag }}">{{ tag }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </aside>
        </div>

    </div>
{% endblock %}