{% extends "base.html" %}
{% load static my_tags %}

{% block title %}{{ block.super }} | статьи | {{ article.title_ru | truncatechars:20 }}{% endblock %}

{% block lang %}
    <link rel="alternate" hreflang="ru" href="http://vivariy.com{{ request.path }}/"/>
{% endblock %}

{% block content %}
    <div class="container article-details">

        <div class="aside-bkg"></div>

        <div class="row">

            <article class="col-lg-10 col-md-10 article-content-wrapper"><!--- article block -->

                <div class="row breadcrumbs"><!-- breadcrumbs -->
                    <div class="pull-right">
                        <span><a href="/">Главная</a></span> |
                        <span>Статьи</span>
                    </div>
                </div>

                <h2>{{ article.title_ru | upper }}</h2>
                <img class="article-top-image" src="{{ article.image.image.crop.300x150 }}"
                     alt="article description image">
                <time class="article-date" datetime="{{ article.date | date:'c' }}">
                    <span class="h4">{{ article.date | date:"j E Y" | upper }}</span></time>
                <div class="time-margin"></div>
                <div class="article-content">{{ article.text_ru | safe }}</div>
                {% if article.source_url %}
                    <p class="article-source">Источник: <a
                            href="{{ article.source_url }}">{{ article.source_url | domain_from_url }}</a></p>
                {% endif %}
                <ul class="list-unstyled list-inline article-tags">
                    {% for tag in article_tags %}
                        <li>
                            <a href="/articles?filter={{ tag }}"> {{ tag }} </a>
                            {% if not forloop.last %},{% endif %}
                        </li>
                    {% endfor %}
                </ul>

                <a href="/articles" class="btn article-more-btn center-block">ДРУГИЕ СТАТЬИ</a>

            </article>

            <aside class="col-lg-2 col-md-2 article-tags-panel">
                <form action="/subscribe/" method="post" class="subscribe-form">{% csrf_token %}
                    <h5>ПОЛУЧАТЬ<br> НОВЫЕ СТАТЬИ</h5>
                    <input type="text" name="email" placeholder="Ваш e-mail">
                    <button type="submit">ПОДПИСАТЬСЯ</button>
                </form>
                <div>
                    <h5>КЛЮЧЕВЫЕ СЛОВА</h5>
                    <ul>
                        {% for tag in tags %}
                            <li><a href="/articles?filter={{ tag }}">{{ tag }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </aside>
        </div>


    </div>
{% endblock %}