{% extends "base.html" %}
{% load staticfiles %}

{% block title %}{{ block.super }} | статьи{% endblock %}

{% block content %}
    <div class="container">

        <div class="article-aside-bkg"></div>

        <div class="row article-list">
            <section class="col-lg-10 article-content-panel">

                <div class="row breadcrumbs"><!-- breadcrumbs -->
                    <div class="pull-right">
                        <span><a href="/">Главная</a></span> |
                        <span>Статьи</span>
                    </div>
                </div><!-- end breadcrumbs -->

                {% for article in articles %}
                    <div class="media">
                        <div class="media-left media-top">
                            <a href="{% url 'article_details' article.slug %}">
                                <img src="{{ article.image.image.crop.300x190 }}" alt="article image"
                                     class="media-object">
                            </a>
                        </div>
                        <div class="media-body">
                            <a href="{% url 'article_details' article.slug %}">
                                <h4 class="media-heading">{{ article.title_ru | upper }}</h4>
                            </a>
                            <div class="article-date">{{ article.date | date }}</div>
                            <div class="article-cut">{{ article.cut_ru }}</div>
                            <a href="{% url 'article_details' article.slug %}" class="btn">ПОДРОБНЕЕ</a>
                        </div>
                    </div>
                {% endfor %}

                {% if articles.paginator.num_pages > 1 %}
                    <nav><!-- paginagion -->
                        <ul class="pagination">
                            {% if articles.has_previous %}
                                <li>
                                    <a href="/articles?page={{ articles.previous_page_number }}">
                                        <span class="glyphicon glyphicon-chevron-left"></span>
                                    </a>
                                </li>
                            {% else %}
                                <li class="disabled">
                                    <span class="glyphicon-chevron-left glyphicon"></span>
                                </li>
                            {% endif %}

                            {% for page in articles.paginator.shortened_page_range %}
                                {% if page == '...' %}
                                    <li class="disabled">
                                        <a href="#"><span aria-hidden="true">...</span></a>
                                    </li>
                                {% else %}
                                    <li {% if page == articles.number %}class="active" {% endif %}>
                                        {{ paginator.page.number }}
                                        <a href="/articles?page={{ page }}">{{ page }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}

                            {% if articles.has_next %}
                                <li>
                                    <a href="/articles?page={{ articles.next_page_number }}">
                                        <span class="glyphicon glyphicon-chevron-right"></span>
                                    </a>
                                </li>
                            {% else %}
                                <li class="disabled">
                                    <span class="glyphicon-chevron-right glyphicon"></span>
                                </li>
                            {% endif %}
                        </ul>
                    </nav><!-- end pagination -->
                {% endif %}

            </section>

            <aside class="col-lg-2 article-tags-panel">
                <p>there should be tags</p>
            </aside>
        </div>

    </div>
{% endblock %}