{% load staticfiles i18n watson %}
<!DOCTYPE html>
<html lang="ru">
<head>
    {% block meta %}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}

    <title>
        {% block title %}{% trans '"Vivarium" group' %}{% endblock %}
    </title>
    {% block fonts %}
        <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700&subset=latin,cyrillic-ext'
              rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin,cyrillic-ext'
              rel='stylesheet' type='text/css'>
    {% endblock %}

    {% block lang %}{% endblock %}

    {% block css %}
        <link rel="icon" type="image/png" href="{% static 'img/favicon-32x32.png' %}" sizes="32x32"/>
        <link rel="icon" type="image/png" href="{% static 'img/favicon-16x16.png' %}" sizes="16x16"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css">
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/custom.min.css' %}">
    {% endblock %}
</head>

<body>
<header>
    {% block header %}
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <form action="{% url 'set_language' %}" method="post" class="lang_form pull-right">{% csrf_token %}
                        {% get_current_language as LANGUAGE_CODE %}

                        <input name="next" type="hidden" value="/lang_redirect/?curr_path={{ request.path }}">

                        <button type="submit" name="language" value="en"
                                {% if LANGUAGE_CODE == 'en' %}class="active"{% endif %}>ENG
                        </button>
                        <button type="submit" name="language" value="ru"
                                {% if LANGUAGE_CODE == 'ru' %}class="active"{% endif %}>РУС
                        </button>
                    </form>
                    <a href="/contacts"
                       class="btn pull-right request-basket-btn {% if not request.session.cart %}hidden{% endif %}">
                        <span class="glyphicon glyphicon-shopping-cart"></span>
                        <span>&nbsp;В ЗАПРОСЕ: </span>
                        <span>{{ request.session.cart | length }}</span>
                    </a>
                </div>
            </div>
            <div class="row">
                <a href="/" class="col-lg-6 col-md-6 col-sm-12">
                    <h1 class="header-logo">
                        <img src="{% static 'img/logo_header.png' %}" alt="company logo">
                        <span>группа компаний "ВИВАРИЙ"</span>
                    </h1>
                </a>
                <form action="{% url 'watson:search' %}" class="search_form">{% csrf_token %}
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <input type="text" name="q" value="{{ request.GET.q }}">
                        <input type="submit" value={% trans "SEARCH" %}>
                    </div>
                </form>
            </div>
        </div>

        <div class="menu-container">
            <div class="container">
                <ul class="nav navbar-nav main-menu">
                    <li class="{% if menuitem == 'main' %}active{% endif %}"><a href="/"><span>{% trans "MAIN" %}</span></a>
                    </li>
                    <li class="{% if menuitem == 'catalog' %}active{% endif %}"><a
                            href="/catalog"><span>{% trans "CATALOG" %}</span></a>
                    </li>
                    <li class="{% if menuitem == 'articles' %}active{% endif %}"><a
                            href="/articles"><span>{% trans "ARTICLES" %}</span></a>
                    </li>
                    <li class="{% if menuitem == 'partners' %}active{% endif %}"><a
                            href="/partners"><span>{% trans "PARTNERS" %}</span></a></li>
                    <li class="{% if menuitem == 'contacts' %}active{% endif %}"><a
                            href="/contacts"><span>{% trans "CONTACTS" %}</span></a></li>
                </ul>
            </div>
        </div>
    {% endblock %}
</header>

<main>
    {% block content %}
        <br><br><br>
    {% endblock %}
</main>


<footer>
    {% block footer %}
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-5 col-xs-12">
                    <img src="{% static 'img/logo_footer2.png' %}" alt="company logo">
                    <p>{% trans "© 2010-2016 Vivaium group.<br>All rights reserved." %}</p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 contacts">
                    <h3>{% trans 'CONTACTS:' %}</h3>
                    <table>
                        <tr>
                            <td>Tel.:</td>
                            <td><a href="tel://+74722402142" class="tel">+7(4722)40-21-42</a></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><a href="tel://+74722372938" class="tel">37-29-38</a></td>
                        </tr>
                    </table>
                    <div>E-mail: <a href="mailto:info@vivariy.com">info@vivariy.com</a></div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 studio-logo">
                    <img src="{% static 'img/studio_logo2.png' %}" alt="design studio logo">
                    <div style="display: none" data-info="programming: Vasyliev Andrey [andrey_at_micro-man.com]"></div>
                </div>
            </div>
        </div>
        <a href='#' class='back-to-top'>
            <span class='glyphicon glyphicon-menu-up'></span>
        </a>
    {% endblock %}
</footer>

{% block js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.1/js.cookie.min.js"></script>
    <script src="{% static 'js/app.min.js' %}"></script>
{% endblock %}
</body>
</html>