{% extends "base.html" %}
{% load staticfiles %}

{% block title %}{{ block.super }} | каталог{% endblock %}

{% block content %}
    <!-- breadcrumbs -->
    <div class="row breadcrumbs">
        <div class="pull-right">
            <span><a href="/">Главная</a></span> |
            <span>Каталог</span>
        </div>
    </div>

    <h2>КАТАЛОГ ПРОДУКЦИИ</h2>
    <div class="row">
        {% for category in top_categories %}
            <div class="col-lg-4 main-catalog-item">
                <a href="{% url 'category' category.slug %}">
                    <div class="main-catalog-item-container">
                        <div class="main-catalog-item-img"
                             style="background: url({{ category.image.image.crop.300x150 }});
                                     background-repeat: no-repeat;
                                     background-size:100% 100%"
                        >
                        </div>
                        <h5>{{ category.title_ru | upper }}</h5>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>

{% endblock %}