{% extends "base.html" %}
{% load my_tags %}

{% block title %}{{ block.super }} | каталог | {{ category.title_ru }} {% endblock %}

{% block content %}
    <div class="catalog-container">
        <div class="aside-bkg"></div>

        <div class="container">
            <div class="row">

                <!-- left menu -->
                <aside class="catalog-aside col-lg-3 col-md-3 col-sm-4 col-xs-12">
                    <ul>
                        {% for top_category in top_categories %}
                            <li>
                                <a href="{% url 'category' top_category.slug %}" {% if current_top_category.title_ru == top_category.title_ru %}class="active" {% endif %}>
                                    <h4>{{ top_category.title_ru }}</h4>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </aside>
                <section class="catalog-category col-lg-9 col-md-9 col-sm-8 col-xs-12">

                    <!-- breadcrumbs -->
                    <div class="breadcrumbs">
                        <div class="pull-right">
                            <span><a href="/">Главная</a></span> |
                            <span><a href="/catalog">Каталог</a></span> |
                            <span>{{ current_top_category.title_ru | lower | capfirst }}</span>
                        </div>
                    </div>

                    <h2>{{ current_top_category.title_ru | upper }}</h2>

                    <!-- list of subcategories -->
                    {% for category in categories %}
                        <div class="panel-group" role="tablist">
                            <div class="panel">

                                <div class="panel-heading" role="tab" id="collapse-heading-{{ category.id }}">
                                    <a class="collapsed" role="button" data-toggle="collapse"
                                       href="#collapse-{{ category.id }}"
                                       aria-expanded="false" aria-controls="collapse-{{ category.id }}">
                                        <h3>
                                            <span class="glyphicon glyphicon-plus-sign"></span>
                                            <span>{{ category.title_ru | upper }}</span>
                                        </h3>
                                    </a>
                                </div>

                                <div id="collapse-{{ category.id }}" class="panel-collapse collapse" role="tabpanel"
                                     aria-labelledby="collapse-heading-{{ category.id }}" aria-expanded="false">

                                    <ul class="list-group">
                                        {% for product in category.product_set.all %}
                                            <li class="list-group-item">
                                                {% default_image product as product_image %}
                                                <div class="media">
                                                    <div class="media-left">
                                                        <img src="{{ product_image.image.crop.140x140 }}"
                                                             alt="product image">
                                                    </div>
                                                    <div class="media-body">
                                                        <a href="{% url 'product' product.slug %}">
                                                            <h3 class="media-heading">{{ product.title_ru }}</h3>
                                                        </a>
                                                        <a href="{% url 'product' product.slug %}" class="btn"
                                                           role="button">ПОДРОБНЕЕ</a>
                                                    </div>
                                                </div>
                                            </li>
                                        {% endfor %}
                                    </ul>

                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </section>
            </div>
        </div>
    </div>
{% endblock %}
