{% extends "base.html" %}
{% load static my_tags recaptcha2 %}

{% block title %}{{ block.super }} | контакты {% endblock %}

{% block header %}
    {{ block.super }}
    {% recaptcha_init %}
{% endblock %}

{% block lang %}
    <link rel="alternate" hreflang="ru" href="http://vivariy.com/contacts/"/>
{% endblock %}

{% block content %}
    <div class="container contacts-page">
        <div class="row">
            <div class="aside-bkg"></div>

            <div class="contacts col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div>
                    <h2>КОНТАКТЫ</h2>

                    <img src="{% static 'img/contacts-map-1.jpg' %}" alt="map">


                    <div class="vcard">
                        <h3 class="org fn">ГРУППА КОМПАНИЙ "ВИВАРИЙ"</h3>

                        <div class="adr">
                            <div>
                                <span><strong>Адрес:</strong></span>
                                <span class="postal-code">308000</span>,
                                <span class="locality">г.Белгород</span>,<br>
                                <span class="street-address">Михайловское шоссе, д.1, оф. 35</span>
                            </div>
                            <table>
                                <tr>
                                    <td><strong>Тел.:</strong></td>
                                    <td><a href="tel://+74722402142" class="tel">+7(4722)40-21-42</a></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><a href="tel://+74722372938" class="tel">37-29-38</a></td>
                                </tr>
                            </table>
                            <div class="local-emails">
                                <h5>ОТДЕЛ ПРОДАЖ</h5>
                                <span><strong>e-mail:</strong></span>
                                <span class="email"><a href="mailto:info@vivariy.com">info@vivariy.com</a></span>
                                <h5>СЕРВИСНЫЙ ОТДЕЛ</h5>
                                <span><strong>e-mail:</strong></span>
                                <span class="email"><a href="mailto:service@vivariy.com">service@vivariy.com</a></span>
                                <h5>БУХГАЛТЕРИЯ</h5>
                                <span><strong>e-mail:</strong></span>
                                <span class="email"><a href="mailto:buh@vivariy.com">buh@vivariy.com</a></span>
                            </div>
                        </div>
                        <div class="adr">
                            <h4 class="org fn">ПРЕДСТАВИТЕЛЬСТВО В УКРАИНЕ</h4>
                            <div>
                                <span><strong>Адрес:</strong></span>
                                <span class="postal-code">63503</span>,
                                <span class="locality">г.Чугуев, </span>
                                <span class="region">Харьковская обл.</span>,<br>
                                <span class="street-address">ул.Харьковская, 127</span>
                            </div>
                            <div>
                                <span><strong>Тел.:</strong></span>
                                <a href="tel://+380577627328" class="tel">+38(057)762-73-28</a>
                            </div>
                            <div>
                                <span><strong>e-mail:</strong></span>
                                <span class="email"><a href="mailto:ukraine@vivariy.com">ukraine@vivariy.com</a></span>
                            </div>
                        </div>
                        <div class="adr">
                            <h4 class="org fn">HEADQUARTERS</h4>
                            <div><strong> ITG Ltd</strong></div>
                            <div>
                                <span><strong>Address:</strong> 1, Ipomoea Triq Willie Arena, Gzira GZR 1691, Malta</span>
{#                                <span class="postal-code">63503</span>,#}
{#                                <span class="locality">г.Чугуев, </span>#}
{#                                <span class="region">Харьковская обл.</span>,<br>#}
{#                                <span class="street-address">ул.Харьковская, 127</span>#}
                            </div>
                            <div>
                                <span><strong>Tel.:</strong></span>
                                <a href="tel://+35699567876" class="tel">+356 99 567876</a>
                            </div>
                            <div>
                                <span><strong>e-mail:</strong></span>
                                <span class="email"><a href="mailto:malta@vivariy.com">malta@vivariy.com</a></span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="request-form col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="breadcrumbs"><!-- breadcrumbs -->
                    <div class="pull-right">
                        <span><a href="/">Главная</a></span> |
                        <span>Контакты</span>
                    </div>
                </div><!-- end breadcrumbs -->

                <h2>ОТПРАВИТЬ ЗАПРОС</h2>

                <div class="basket-list">
                    <div class="cart-placeholder">
                        {% if cart %}
                            <ul>
                                {% for item in cart %}
                                    {% default_image item as product_image %}
                                    <li class="media cart-item">
                                        <div class="media-left media-top">
                                            <a href="{% url 'product' product.slug %}">
                                                <img class="media-object" src="{{ product_image.image.crop.60x60 }}"
                                                     alt="product image">
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            {{ item.categories.all | first }}
                                            <a href="{% url 'product' item.slug %}">
                                                <h4 class="media-heading">{{ item.title_ru | upper }}</h4>
                                            </a>
                                            <form action="{% url 'product' item.slug %}" method="post">{% csrf_token %}
                                                <input type="hidden" name="delete_method">
                                                <button class="btn cart-item-remove-btn" type="submit"
                                                        data-slug="{{ item.slug }}">
                                                    <span class="glyphicon glyphicon-remove-sign"></span>
                                                </button>
                                            </form>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <div class="cart-empty-msg">Список пуст.<br>Добавить товар к запросу можно на странице
                                товара в каталоге.
                            </div>
                        {% endif %}
                    </div>
                </div>

                <form action="" method="post">{% csrf_token %}
                    <ul>
                        {{ form.as_ul }}
                    </ul>
                    <input type="submit" class="btn" value="ОТПРАВИТЬ">
                    <div class="request-form-desc"> * - Поля, отмеченные звездочкой, обязательные для заполнения</div>
                </form>

            </div>
        </div>
    </div>
{% endblock %}