{% extends "base.html" %}
{% load staticfiles %}
{% load my_tags %}


{% block title %}{{ block.super }} | контакты {% endblock %}

{% block content %}
    <div class="container contacts-page">
        <div class="row">
            <div class="aside-bkg"></div>

            <div class="contacts col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div>
                    <h2>КОНТАКТЫ</h2>

                    <img src="{% static 'img/contacts-map.jpg' %}" alt="map">


                    <div class="vcard">
                        <div class="adr">
                            <h3 class="org fn">ГРУППА КОМПАНИЙ "ВИВАРИЙ"</h3>
                            <div>
                                <span><strong>Адрес:</strong></span>
                                <span class="postal-code">308024</span>
                                {#<span class="country-name">Россия</span>#}
                                <span class="locality">г.Белгород</span>
                                <span class="street-address">ул.Костюкова, 13Б</span>
                            </div>
                            <div>
                                <span><strong>Тел.:</strong></span>
                                <span class="tel">+7(4722)37-29-38</span>
                                <div class="tel">+7(4722)37-29-40</div>
                                <div class="tel">+7(4722)40-21-42</div>
                            </div>
                            <div class="local-emails">
                                <span><strong>e-mail:</strong></span>
                                <span class="email"><a href="mailto:info@vivariy.com">info@vivariy.com</a></span>
                                <div class="email"><a href="mailto:vet_prod@mail.ru">vet_prod@mail.ru</a></div>
                            </div>
                        </div>
                        <div class="adr">
                            <h3 class="org fn">ПРЕДСТАВИТЕЛЬСТВО В УКРАИНЕ</h3>
                            {#<span class="country-name">Украина</span>#}
                            <div>
                                <span><strong>Тел.:</strong></span>
                                <span class="tel">+38(057)762-73-28</span>
                            </div>
                            <div>
                                <span><strong>e-mail:</strong></span>
                                <span class="email"><a href="mailto:ukraine@vivariy.com">ukraine@vivariy.com</a></span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="request-form col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="breadcrumbs"><!-- breadcrumbs -->
                    <div class="pull-right">
                        <span><a href="/">Главная</a></span> |
                        <span>Контакты</span>
                    </div>
                </div><!-- end breadcrumbs -->

                <h2>ОТПРАВИТЬ ЗАПРОС</h2>

                <div class="basket-list">
                    <h3>ЗАПРОСИТЬ СТОИМОСТЬ:</h3>
                    <div class="cart-placeholder">
                        {% if cart %}
                            <ul>
                                {% for item in cart %}
                                    {% default_image item as product_image %}
                                    <li class="media cart-item">
                                        <div class="media-left media-top">
                                            <a href="{% url 'product' product.slug %}">
                                                <img class="media-object" src="{{ product_image.image.crop.60x60 }}"
                                                     alt="product image">
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            {{ item.categories.all | first }}
                                            <a href="{% url 'product' item.slug %}">
                                                <h3 class="media-heading">{{ item.title_ru | truncatechars:32 }}</h3>
                                            </a>
                                            <form action="{% url 'product' item.slug %}" method="post">{% csrf_token %}
                                                <!-- note: we emulate DELETE method, because html forms allow only GET and POST-->
                                                <input type="hidden" name="delete_method">
                                                <button class="btn cart-item-remove-btn" type="submit"
                                                        data-slug="{{ item.slug }}">
                                                    <span class="glyphicon glyphicon-remove-sign"></span>
                                                </button>
                                            </form>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <div class="cart-empty-msg">Список пуст.<br>Добавить товар к запросу можно на странице
                                товара в каталоге.
                            </div>
                        {% endif %}
                    </div>
                </div>

                <form action="" method="post">{% csrf_token %}
                    {#                    <h3>ЗАПРОСИТЬ СТОИМОСТЬ</h3>#}
                    {{ form.as_ul }}
                    <input type="submit" class="btn" value="ОТПРАВИТЬ">
                    <div class="request-form-desc"> * - Поля, отмеченные звездочкой, обязательные для заполнения</div>
                </form>

            </div>
        </div>
    </div>
{% endblock %}