{% extends "base.html" %}
{% load staticfiles %}
{#{% load thumbnail %}#}

{% block title %}{{ block.super }} | главная{% endblock %}


{% block content %}
    <div class="carousel-bkg">
        <div class="container">
            <div id="carousel-main" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    {% for slide in slides %}
                        <li data-target="#carousel-main" data-slide-to="{{ forloop.counter0 }}"
                            {% if forloop.counter0 == slide_initial %}class="active" {% endif %}></li>
                    {% endfor %}
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    {% for slide in slides %}
                        <div class="item {% if forloop.counter0 == slide_initial %} active{% endif %}">
                            <div class="media">
                                <div class="media-left media-middle">
                                    <img src="{{ slide.image.crop.220x220 }}" alt="slide image">
                                    <a href="{{ slide.url }}" class="btn">ПОДРОБНЕЕ</a>
                                </div>
                                <div class="media-body">
                                    <h2 class="media-heading slide-title">{{ slide.title | upper }}</h2>
                                    <div class="slide-desc">{{ slide.desc }}</div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="container main-catalog">
        <h2>КАТАЛОГ ПРОДУКЦИИ</h2>
        <div class="row">
            {% for category in top_categories %}
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 main-catalog-item">
                    <a href="{% url 'category' category.slug %}">
                        <div class="main-catalog-item-container">
                            <div class="main-catalog-item-img"
                                 style="background: url({{ category.image.image.crop.300x150 }});
                                         background-repeat: no-repeat;
                                         background-size:100% 100%"
                                    {# Note: style rule "background: url(...)" is necessary for inner shadows. #}
                                    {# But I dunno easy way to combine template tags and css, so I'm using inline styles #}
                            >
                            </div>
                            <h4>{{ category.title_ru | upper }}</h4>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="about-us">
        <div class="container">
            <div class="col-lg-offset-1 col-lg-10 col-md-12 col-sm-12 col-xs-12">
                <h2>КОРОТКО О НАС</h2>
                <p>
                    Наша компания является официальным дистрибьютором ряда российских,
                    европейских и американских фирм-производителей и занимает одно из
                    лидирующих мест на профильном рынке.
                </p>
                <p>
                    Наша компания - это широкая номенклатура товаров, профессиональный
                    коллектив, активные связи с производителями и клиентами.
                </p>
                <p>
                    Все поставляемое оборудование обеспечивается гарантийным сервисным
                    обслуживанием, а также послегарантийным обслуживанием по договоренности
                    сторон. Также, по желанию заказчика, инженеры сервисной службы обучат его
                    правилам эксплуатации приборов.
                </p>
            </div>
        </div>
    </div>

    <div class="container main-article">
        <h2>СТАТЬИ</h2>
        <div class="row">
            {% for article in articles %}
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="main-article-item">
                        <img src="{{ article.image.image.crop.300x150 }}" alt="article image">
                        <div class="main-article-item-wrapper">
                            <div class="main-article-item-content">
                                <h3>{{ article.title_ru | upper }}</h3>
                                <div>{{ article.cut_ru | truncatewords:15 }}...</div>
                            </div>
                            <a href="{% url 'article_details' article.slug %}" class="btn">ПОДРОБНЕЕ</a>
                            <div>
                                <time class="article-date"
                                      datetime="{{ article.date | date:'c' }}">{{ article.date | date:"j E Y" | upper }}</time>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <a href="/articles" class="btn center-block">СМОТРЕТЬ ВСЕ СТАТЬИ</a>
    </div>
{% endblock %}