{% extends "base.html" %}
{% load i18n %}


{% block title %}{{ block.super }} | {% trans 'partners' %}{% endblock %}

{% block lang %}
    <link rel="alternate" hreflang="ru" href="http://vivariy.com/ru/partners/"/>
    <link rel="alternate" hreflang="en" href="http://vivariy.com/en/partners/"/>
{% endblock %}

{% block content %}
    <div class="container partners-list">
        <!-- breadcrumbs -->
        <div class="row breadcrumbs">
            <div class="pull-right">
                <span><a href="/">{% trans 'Main' %}</a></span> |
                <span>{% trans 'Partners' %}</span>
            </div>
        </div>

        <!-- list of partners -->
        <div class="row">
            {% if partner_list %}
                <h2>{% trans 'OUR PARTNERS' %}</h2>

                {% get_current_language as LANGUAGE_CODE %}

                {% if LANGUAGE_CODE == 'en' %}
                    <p class="hype-paragraph">
                        VIVARIY Group has been set up in 2008. Since then we have become one of the leaders among
                        suppliers of products used in biomedical research. Our main customers are pharmaceutical
                        companies, universities and laboratories for contract research from Russia and other CIS
                        countries.
                    </p>
                    <p class="hype-paragraph">
                        Our group offers a diverse range of biomedical products from top manufacturers, with
                        applications ranging from cell & tissue engineering to behavioural studies and neuroscience. On
                        this website we aim to present a complete overview of our products and services. Since our
                        customers are situated mainly in Russian speaking countries we provide all the information on
                        our website in this language. For product information in English we suggest that you visit
                        website of corresponding vendor. Here is a list of our partners:
                    </p>
                {% endif %}

                {% for partner in partner_list %}
                    <div class="media col-lg-12 col-md-12 partner-item" id="pt_{{ partner.id }}">
                        <div class="media-left media-middle">
                            {% if partner.image %}
                                <div class="logo-wrapper">
                                    <img class="media-object" src="{{ partner.image.thumbnail.200x100 }}"
                                         alt="partner image">
                                </div>
                            {% endif %}
                        </div>
                        <div class="media-body">
                            {% if LANGUAGE_CODE == 'ru' %}
                                <h4 class="media-heading">{{ partner.title | upper }}</h4>
                                <p>{{ partner.desc }}</p>
                            {% else %}
                                <h4 class="media-heading">{{ partner.title_en | upper }}</h4>
                                <p>{{ partner.desc_en }}</p>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <h2 style="color: red">партнеров не найдено</h2>
                <p style="text-align: center">(задаются через админку)</p>
            {% endif %}

        </div>

    </div>
{% endblock %}