{% extends "base.html" %}

{% block title %}{{ block.super }} | партнеры{% endblock %}

{% block content %}
    <div class="container">
        <!-- breadcrumbs -->
        <div class="row breadcrumbs">
            <div class="pull-right">
                <span><a href="/">Главная</a></span> |
                <span>Партнеры</span>
            </div>
        </div>

        <!-- list of partners -->
        <div class="row partners-list">
            {% for partner in partner_list %}
                <div class="media col-lg-offset-1 col-lg-10 partner-item" id="pt_{{ partner.id }}">
                    <div class="media-left media-middle">
                        {% if partner.image %}
                            <img class="media-object" src="{{ partner.image.crop.200x100 }}" alt="partner image">
                        {% endif %}
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">{{ partner.title }}</h4>
                        <div>{{ partner.desc }}</div>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>



{% endblock %}