{% extends "base.html" %}

{% block title %}{{ block.super }} | партнеры{% endblock %}

{% block content %}
    <div class="container partners-list">
        <!-- breadcrumbs -->
        <div class="row breadcrumbs">
            <div class="pull-right">
                <span><a href="/">Главная</a></span> |
                <span>Партнеры</span>
            </div>
        </div>

        <!-- list of partners -->
        <div class="row">
            <h2>НАШИ ПАРТНЕРЫ</h2>
            {% for partner in partner_list %}
                <div class="media col-lg-12 partner-item" id="pt_{{ partner.id }}">
                    <div class="media-left media-middle">
                        {% if partner.image %}
                            <div class="logo-wrapper">
                                <img class="media-object" src="{{ partner.image.thumbnail.200x100 }}" alt="partner image">
                            </div>
                        {% endif %}
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">{{ partner.title | upper }}</h4>
                        <div>{{ partner.desc }}</div>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>
{% endblock %}